
:root {
    --bg-main :hsl(222, 26%, 31%);
    --toggle-keypad-bg: hsl(223, 31%, 20%);
    --bg_display:hsl(224, 36%, 15%);
    --key-bg:hsl(225, 21%, 49%);
    --text-white:hsl(0, 0, 100%);

}

[data-theme='medium']{
    --bg-main:  hsl(222, 26%, 31%);
    --toggle-keypad-bg: hsl(223, 31%, 20%);
    --bg_display:hsl(224, 36%, 15%);
    --key-bg:hsl(225, 21%, 49%);
    --key-shadow:hsl(224, 28%, 35%);
    --switch-theme-bg:hsl(6, 63%, 50%);
    --switch-theme-shadow:hsl(6, 70%, 34%);
    --back-key-bg:hsl(30, 25%, 89%);
    --back-key-shadow:hsl(28, 16%, 65%);
    --text:hsl(221, 14%, 31%);
    --text-white:hsl(0, 0, 100%);

}

[data-theme='dark'] {
    --bg-main: hsl(268, 75%, 9%);
    --toggle-keypad-bg: hsl(268, 71%, 12%);
    --bg_display:hsl(268, 71%, 12%);
    --key-bg:hsl(281, 89%, 26%);
    --key-shadow:hsl(285, 91%, 52%);
    --switch-theme-bg:hsl(177, 92%, 70%);
    --switch-theme-shadow: hsl(176, 100%, 44%);
    --back-key-bg:hsl(268, 47%, 21%);
    --back-key-shadow:hsl(290, 70%, 36%);
    --text:hsl(52, 100%, 62%);
    --text-white:hsl(0, 0, 100%);
}

[data-theme='light']{
    --bg-main:hsl(0, 0%, 90%);
    --toggle-keypad-bg:hsl(0, 5%, 81%);
    --bg_display:hsl(0, 0%, 93%);
    --key-bg:hsl(185, 42%, 37%);
    --key-shadow:hsl(185, 58%, 25%);
    --switch-theme-bg:hsl(25, 98%, 40%);
    --switch-theme-shadow:hsl(25, 99%, 27%);
    --back-key-bg:hsl(45, 7%, 89%);
    --back-key-shadow:hsl(35, 11%, 61%);
    --text:hsl(60, 10%, 19%);
    --text-white:hsl(0, 0, 100%);
}



//Text
// var(--text): hsl(221, 14%, 31%);
// var(--text)_white: hsl(0, 0, 100%);

// Theme 2-------------------------------------------------



// #### Text
$light_text: hsl(60, 10%, 19%);
$light_text_white: hsl(0, 0, 100%);

// ### Theme 3

// #### Text

$dark_text: hsl(52, 100%, 62%);
$dark_blue: hsl(198, 20%, 13%);
$dark_text_white: hsl(0, 0, 100%);


*{
    margin: 0;
    padding: 0;
}

body{

    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    text-align: center;
    background-color: var(--bg-main);
}

main{
    background-color: var(--bg-main);
    box-sizing: border-box;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2.5rem 1.5rem 2rem 1.5rem;

    #head{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        width:100%;
        color: var(--text-white);

        .logo{
                width:50%;
                font-size: 2rem;
                text-align: left;
            }

        .switch_container{
                width: 50%;
                display:flex;
                font-size: 0.8rem;
                text-transform: uppercase;
                text-align: right;
                justify-content: flex-end;
                align-items: center;

                    .switch{
                        width:40%;
                        display:flex;
                        align-items: center;
                        justify-content: space-around;
                        padding: 0 0.1rem;
                        background-color:--toggle-keypad-bg;
                        height:1.5rem;
                        width: 4rem;
                        border-radius: 1rem;
                        margin-left: 1.5rem;

                        .sw_label{
                            position:absolute;
                            width: 4rem;
                            height: 1rem;
                            margin-bottom: 2.5rem;
                            background-color: var(--bg-main);
                            span{
                                margin: 0 0.5rem;
                                font-size: 0.6rem;
                            }
                        }
                        .switch__option{
                            display: none;
                            visibility: hidden;

                        }

                        label{
                            width: 1rem;
                            height:1rem;
                            border-radius: 100%;
                            background-color: var(--toggle-keypad-bg);
                            cursor: pointer;
                        }

                        #medium:checked + label{
                            background-color: var(--switch-theme-bg);
                            box-shadow: 1px 1px var(--switch-theme-shadow);
                        }

                        #light:checked + label {
                            background-color: var(--switch-theme-bg);
                            box-shadow:1px 1px var(--switch-theme-shadow);
                        }

                        #dark:checked + label {
                            background-color: var(--switch-theme-bg);
                            box-shadow:1px 1px var(--switch-theme-shadow);
                        }


                    }

            
                }
                .display{
                    display: flex;
                    width:100%;
                    height: 5.5rem;
                    background-color: var(--bg_display);
                    border-radius: 1rem;
                    margin: 1.5rem auto;                    
                    justify-content: flex-end;
                    align-items: center;

                    h1{
                        font-size: 2rem;
                        font-weight: 700;
                        color: var(--text-white);
                        padding:0 1.3rem
                    }
                }          
    }//head


    .keyboard{
        width: 100%;
        background-color: var(--toggle-keypad-bg);
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        border-radius: 1rem;

        .keyboard__row{
            display: flex;
            justify-content: space-around;
            width:100%;

            button{
                box-shadow: none;
                border:none
            }

            .key{
                font-family: 'Spartan', sans-serif;
                font-size: 2rem;
                font-weight: 700;
                margin:0.5rem;
                width:23%;
                height:4rem;
                padding-top: 0.4rem;
                border-radius: 0.5rem;
                background-color: var(--back-key-bg);
                box-shadow: 1px 3px var(--back-key-shadow);                
                color: var(--toggle-keypad-bg);
            }

        
        .special{
            color:var(--text)_white;
            text-transform: uppercase;
        }
            #reset, #equal{
                width:46%;              

            }

            #del, #reset{
                background-color: var(--key-bg);
                box-shadow: 1px 3px var(--key-shadow);
                font-size: 1rem;
                font-weight: 600;
            }

            #equal{
                background-color: var(--switch-theme-bg);
                box-shadow: 1px 3px var(--switch-theme-shadow);
                font-size: 1rem;
            }
        }
    }

}

@media screen and (min-width: 600px){
    
    main {
        margin:4rem auto;
        width: 40%;
        #head{
            .display {
                height: 7.5rem;
            }
        }
        .keyboard{
            .keyboard__row{
                .key {
                    margin: 0.7rem;
                }
            }
            }
        }
    }

